body {
	background-color: #F6F6F6;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	margin: 0 auto;
	padding: 0 auto;


}

.header-bg {
    	background: url("../images/dallas2.jpg");
    	background-repeat: no-repeat !important;
    	background-attachment: fixed !important;
    	background-size: cover !important;
    	-webkit-background-size: cover !important;
  		-moz-background-size: cover !important;
  		-o-background-size: cover !important;
    	display: inline-block;
    	position: relative;
    	width: 100%;
    	padding: 0;
		margin: 0 auto;
    	vertical-align: middle;
    	text-align: center;
}

h1 {
	color: #FFFFFF;
	margin-bottom: 0.2%;
	font-size: 3em;
	text-transform: uppercase;
	padding-top: 8%;
	font-weight: 600;
	font-family: Georgia, serif;

}

.border {
	padding-bottom: 3px;
	border-bottom: 2px solid #DDA703;
}

.titleMinor {font-weight: 200;}

.titleChange {
	color: #22BCF0;
	font-weight: 200;
}

h2 {
	color: #DDA703;
	font-size: 1.5em;
	margin-top: 0.2%;
	padding: 1% 0 7% 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}

.ninga {
	margin: 0 auto;
	padding: 0;
}

li {
	list-style: none outside none;
	text-decoration: none;
}

a {
	transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.padNav li a:active {color: #DDA703;}

.nav li a.current {color: #DDA703;}

p a {
	list-style: none outside none;
	text-decoration: none;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}

.padFa {
		display: -webkit-inline-box;
		display: inline-flex;
		margin: 0 auto;
		padding: 0;
}

.social-icon {padding-bottom: 15%;}

.fa-padding {margin-left: 30px;}

.social-icon li a {
	color: #FFFFFF;
	font-size: 32px;
	
}

.social-icon li a:hover {color: #DDA703;}

.padNav {
	display: -webkit-inline-box;
	display: inline-flex;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 9%;
	font-size: 1.7em;
}

.padNav li a {
	color: #FFFFFF;
	margin: 0 10px 0 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	list-style: none outside none;
	text-decoration: none;
}

.padNav li a:hover {color: #DDA703;}
.scroll-nav {
	clear: both;
    float: left;
    position: relative;
    width: 100%;
    vertical-align: middle;
}

.fixedNav {
	display: block;
	height: 80px;
	width: 100%;
	padding-left: 50px;
    background-color: #fefefe;
    border: 1px solid rgba(158, 158, 158, 0.38);
}

.fixedNav div h3 {
	font-size: 2.2em;
    padding-top: 3px;
}

nav {z-index: 500;}

.nav-placeholder{margin: 0 0 40px 0;}

.fixed {
	position: fixed;
	top: 0;
	width: 100%
}

.padFaFixed {
	display: -webkit-inline-box;
    display: inline-flex;
    margin: 0 auto;
    padding: 0;
    padding-top: 26px;
    margin-left: 10%;
    font-size: 1.7em;	
}

.padFaFixed li a {font-size: 24px;}

.padFaFixed li a:hover {color: #DDA703;}

.padNavFixed {
	display: -webkit-inline-box;
    display: inline-flex;
    margin: 0 auto;
    padding: 0;
    padding-top: 26px;
    margin-left: 10%;
    font-size: 1.7em;
}

.padNavFixed li a {
	margin: 0 10px 0 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	list-style: none outside none;
	text-decoration: none;
	font-size: 24px;
}

.padNavFixed li a:hover {color: #DDA703;}

.left {float: left;}

.leftPad {float: left;}

.leftPad li a {color: black;}

.left li a {color: black;}

.img-hand {cursor: pointer;}

.projects h3 {padding-bottom: 20px;}

.projects h3 a {
	list-style: none outside none;
	text-decoration: none;
	color: black;
	font-size: 1.0em;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}

.projects h3 a:hover {color: #DDA703;}

.modal-open .modal, a:focus{
	/* Keeps outline from showing around href after you close the modal*/
    outline:none!important;
}

.modal-footer a {
	color: black;
	float: left;
	margin-top: 10px;
	list-style: none outside none;
	text-decoration: none;
	font-size: 1.2em;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}

.modal-footer a:hover {color: #DDA703;}

.foot {
	background-color: #2F2F2F;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	color: #FFFFFF;
}

.featured {padding-top: 30px;}

.foot div p {
	margin: 15px;
	padding: 0;
}

.padTop {padding-top: 15px;}

.social-icon-footer {padding-bottom: 40px;}

.social-icon-footer li a {
	color: #FFFFFF;
	font-size: 32px;	
}

.social-icon-footer li a:hover {color: #DDA703;}

.copyright {text-align: center;}

