body {
	background-color: #E8E8E8;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	margin: 0 auto;
	padding: 0 auto;


}

.header-bg {
    	background: url("../images/dallas2.jpg");
    	background-repeat: no-repeat !important;
    	background-attachment: fixed !important;
    	background-size: cover !important;
    	-webkit-background-size: cover !important;
  		-moz-background-size: cover !important;
  		-o-background-size: cover !important;
    	display: inline-block;
    	position: relative;
    	width: 100%;
    	padding: 0;
		margin: 0 auto;
    	vertical-align: middle;
    	text-align: center;
    	display: -webkit-inline-box;
    	display: inline-flex;*/

    }

h1 {
	color: #FFFFFF;
	margin-bottom: 0.2%;
	font-size: 3em;
	text-transform: uppercase;
	padding-top: 8%;
	font-weight: 600;
	font-family: Georgia, serif;

}

.border {
	border-bottom: 2px solid #DDA703
}

.titleMinor {
	font-weight: 200;
}

.titleChange {
	color: #22BCF0;
	font-weight: 200;
}

h2 {
	color: #DDA703;
	font-size: 1.5em;
	margin-top: 0.2%;
	padding: 1% 0 7% 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}

.ninga {
	margin: 0 auto;
	padding: 0;
}

li {
	list-style: none outside none;
	text-decoration: none;
}

a {
	transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.padFa {
		display: -webkit-inline-box;
		display: inline-flex;
		margin: 0 auto;
		padding: 0;
}

.social-icon {
	padding-bottom: 15%
}

.fa-padding {
	margin-left: 30px;
}

.social-icon li a {
	color: #FFFFFF;
	font-size: 32px;
	
}

.social-icon li a:hover {
	color: #DDA703;
}

.padNav {
	display: -webkit-inline-box;
	display: inline-flex;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 9%;
	font-size: 1.7em;
}

.padNav li a {
	color: #FFFFFF;
	margin: 0 10px 0 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	list-style: none outside none;
	text-decoration: none;
}

.padNav li a:hover {
	color: #DDA703;
}
.scroll-nav {
	clear: both;
    float: left;
    position: relative;
    width: 100%;
    vertical-align: middle;
}

.img-hand {
	cursor: pointer;
}

.foot {
	background-color: #2F2F2F;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	color: #FFFFFF;
}

.featured {
	padding-top: 50px;
}

.foot div p {
	margin: 15px;
	padding: 0;
}

.padTop {
	padding-top: 25px;
}

.social-icon-footer {
	padding-bottom: 60px;
}

.social-icon-footer li a {
	color: #FFFFFF;
	font-size: 32px;
	
}

.copyright {
	text-align: center;
}

